* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

body .jumbotron {
    background-image: url("./../img/stars.jpg");
    background-size: cover;
    margin: 0;
    text-align: center;
    height: 500px;
    padding: 7% 20%;
    
}

.jumbotron h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 50px;
}


@media only screen and (min-width: 321px) and (max-width: 768px) {
    .jumbotron h1 {
        font-size: 36px;
    }

    body .jumbotron {
        padding: 20% 5%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1150px) {
    .jumbotron h1 {
        font-size: 46px;
    }

    body .jumbotron {
        padding: 15% 10%;
    }
}

.btn-heading {
    font-family: 'Source Sans Pro', sans-serif;
}


#happening {
    padding: 6% 15%;
    background-color: #f2f2f2;
}

#happening h2 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#happening h5 {
    padding: 20px 0;
    font-family: 'Times New Roman', serif;
    color: #565656;
    margin-bottom: 0;
}

#happening p {
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    color: #565656;
}

#happening .happening-image img {
    height: 100%;
    width: 100%;
}

#latest {
    padding: 6% 15%;
    background-color: #f2f2f2;
    text-align: center;
}

#latest h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

#latest .latest-img img{
    height: 100%;
    width: 100%;
}

#latest p {
    margin-top: 5%;
    margin-bottom: 17%;
    font-family: 'Times New Roman', serif;
    color: #565656;
}

.quote {
    background-image: url("./../img/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
    margin: 0;
    filter: grayscale(100%);
}

.quote .btn-quote {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: -60px;
}

.quote h2 {
    color: white;
    margin-top: 10px;
}

#logo img {
    height: 80%;
    width: 80%;
    filter: grayscale(100%);
}

#logo {
    text-align: center;
    padding: 6% 15%;
}

#logo h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.port .btn-port {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 180, 180);
    border: rgb(0, 180, 180);
}

#footer {
    background-color: #333333;
    height: 350px;
    text-align: center;
    padding: 6% 20%;
}

#footer h2 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#footer p {
    font-family: 'Times New Roman', serif;
    color: white;
    font-size: 18px;
}
